body{
    background-color:#0f172a;
    font-family: arial;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.box{
    background-color: #1e293b;
    padding: 4rem;
    border-radius: 10px ;
    text-align: center;


}



button{
     background-color: #22c55e;
     color: white;
     cursor: pointer;
     padding: 15px 30px;
     border-radius: 15px;
     font-size: 16px;
     border: none;
     

}


