body{
    display: flex;
    justify-content: center;
    font-family: arial;
    background-color:#e2e8f0 ;
    
}

.container{
    margin: 80px auto;
    max-width:400px ;
}

input,button{
    padding: 10px;
    width: 400px;

}


button{
    background-color: #16a34a;
    color: white;
    border: none;
}
