body{
    display: flex;
    justify-content: center;
    font-family: arial;
    background-color:#e2e8f0 ;
    
    
    
}


input,button,p,h1{
    width: 400px;
    padding: 12px;
    

}

button{
    background-color:  #16a34a;
    color: white;
    border: none;
    cursor: pointer;
    
}

.container{
    
    margin: 80px auto;
   
}



