* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #1d2671, #c33764);
  min-height: 100vh;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  background: #fff;
  max-width: 900px;
  width: 100%;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}


.card:has(input:checked) {
  background-color: greenyellow;
  border-color: #c33764;
  color: white;
}


h1 {
  text-align: center;
}

.subtitle {
  text-align: center;
  color: #666;
  margin-bottom: 30px;
}

.vote-section {
  margin-bottom: 35px;
}

.vote-section h2 {
  margin-bottom: 15px;
  color: #1d2671;
}

.candidates {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: #fafafa;
  border: 2px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.card img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 3px solid #1d2671;
}

.card span {
  display: block;
  font-weight: bold;
  font-size: 16px;
}

.card input {
  display: none;
}

.card:hover {
  transform: translateY(-6px);
  border-color: #c33764;
  background-color: red;
}

.card input:checked + img {
  border-color: #c33764;


}

button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background: red;
  
}
